/* General */
.airdrop-card:hover {
  cursor: pointer;
  transform: scale(0.97);
}

.airdrop-card {
  transition: transform 0.5s ease;
}

/* Scroll bar */
/* Width */
.scrollable-container::-webkit-scrollbar {
  width: 15px;
  border: 1px solid #1A1A1A;
  border-radius: 10px;
  box-shadow: inset 0 0 6px #C62FC0;
}

/* Track */
.scrollable-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #252034; 
  border-radius: 10px;
}
 
/* Handle */
.scrollable-container::-webkit-scrollbar-thumb {
  background: #C62FC0; 
  border-radius: 10px;
}

/* Handle on hover */
.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #8C0087; 
  cursor: pointer;
}

/* Mobile first */
.airdrop-card {
  display: grid;
  border: 2px solid #C62FC0;
  background-color: #1A1A1A;
  color: #F5F5F5;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 5%;

  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 30% 75%;
  gap: 5%;
}

.logo-card {
  height: 100%;
  width: 100%;
  object-fit: cover;

  grid-column: 1/1;
  grid-row: 1/4;
}

.info-section {
  display: flex;
  flex-direction: column;

  grid-column: 2/2;
  grid-row: 1/4;
}

.airdrop-card__svg {
  height: 20px;
  width: 20px;
  margin-right: 15px;
}

.scrollable-container {
  max-height: 29em;
  width: 100%;
  overflow-y: scroll;
  padding-right: 5%;
}

.list {
  display: flex;
  justify-content: flex-start;
  margin-top: 10%;
}

.lists {
  margin-top: 5%;
}

.aidrop-category > h1 {
  display: inline;
  color: #F5F5F5;
  font-weight: 600;
  text-align: center;
}

.aidrop-category {
  margin-bottom: 10%;
}

/* Other devices */
@media (width >= 768px) {
  .aidrop-category {
    max-width: 470px;
  }

  .featured-video,
  .crypto-resources {
    flex-direction: row;
    justify-content: center;
  }
}

@media (width >= 1047px) and (width <= 1199px) {
  .list {
    display: flex;
    justify-content: center;
  }
  
  .aidrop-category {
    min-width: 470px;
  }
}