/* General */
.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%,
    hsl(218, 41%, 35%) 15%,
    hsl(218, 41%, 30%) 35%,
    hsl(218, 41%, 20%) 75%,
    hsl(218, 41%, 19%) 80%,
    transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
    hsl(218, 41%, 45%) 15%,
    hsl(218, 41%, 30%) 35%,
    hsl(218, 41%, 20%) 75%,
    hsl(218, 41%, 19%) 80%,
    transparent 100%);
}

.gradient-text {
  background: linear-gradient(45deg, #8418CB, #C62FC0);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 800;
  text-align: center;
}

.airdrop-hunter > div {
  width: 50%;
}

.btn-list {
  background-color: #C62FC0;
  border-color: #C62FC0;
  text-align: center;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.btn-list:hover,
.btn-list:active {
  background-color: #8C0087;
  border-color: #8C0087;
}

/* Featured video */
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.play-button {
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  transition: transform 0.3s ease;
}

.video-container:hover .play-button {
  transform: scale(1.1);
}

.featured-video > h1 {
  text-align: left;
  font-size: 2.5em;
  color: #F5F5F5;
  font-weight: 600;
  margin-bottom: 5%;
}

/* Crypto resources */
.crypto-resources > h1 {
  text-align: left;
  font-size: 2.5em;
  color: #F5F5F5;
  font-weight: 600;
  margin-bottom: 5%;
}


.crypto-resources {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-thumbnail {
  position: relative;
  background-color: #252034;
  transition: background-color 0.3s;
  border: 0;
  padding: 0px;
  border-radius: 15px;
  overflow: hidden;
}

.img-thumbnail > h2 {
  text-align: center;
}

.img-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
  transition: opacity 0.3s, transform 0.3s;
}

.img-thumbnail:hover img {
  opacity: 0.5;
  cursor: pointer;
}

.img-thumbnail {
  height: 25%;
  transition: transform 0.3s;
}

.img-thumbnail:hover {
  transform: scale(0.97);
}

.thumbnail-content {
  position: absolute;
  top: 50%; 
  left: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: #F5F5F5;
  font-weight: 600;
}

/* Mobile first */
.gradient-text {
  font-size: 2.5em;
}

.jimbo {
  display: flex;
  justify-content: center;
}

.jimbo > img {
  width: auto;
}

.airdrop-hunter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-video {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.video-container {
  margin-bottom: 5%;
  width: 90%;
  border: 2px solid #252034;
}

.video-container {
  width: 100%;
  height: 250px;
}

.img-thumbnail {
  margin-bottom: 5%;
}

/* Tablets */
@media (width >= 768px) {
  .gradient-text {
    font-size: 3em;
  }
}

/* Laptop */
@media (width >= 992px) {
  .gradient-text {
    font-size: 5em;
  }
}


/* Other devices */
@media (width >= 768px) {
  .featured-video,
  .crypto-resources {
    flex-direction: row;
    justify-content: center;
  }
}

/* Desktop */
@media (width >= 960px) {
  .featured-video > div {
    flex-direction: row;
    justify-content: center;
    gap: 5%;
  }
}